.fontAdd{
    text-align: right !important;
    vertical-align: right !important;
}

.imgRequire:before{
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
}
