.check-template-add {
    display: flex;
    margin: 5px 5px 10px 0;
    line-height: 35px;
}

.check-template-add-div {
    width: 80px;
    text-align: right;
}

.check-template-add-item {
    width: 150px;
    text-align: right;
    margin-left: 10px;
}

.check-template-table {
    padding: 0px !important;
}
