.quick-top {
    padding-top: 11.3%;
    padding-bottom: 3.7%;
    text-align: center;
}

.quick-tag {
    height: 50px;
   border-radius: 3px;
   box-shadow: none;
   box-sizing: border-box;
   overflow: hidden;
   margin: 0 auto;
}

.quick-tag-parent {
    width: 41%;
    margin: 0 auto;
    text-align: left;
    min-width: 415px;
}
div.quick-middle {
    width: 40%;
    margin: 0 auto 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

div.quick-middle div.quick-text {
    text-align: center;
    display: inline-block;
    padding: 0px 15px 0px 15px;
    animation: shake 2s linear 1s 1 alternate;
    
}

/* 达到一种震颤的效果 */
@keyframes shake {
    2% {
        color: #0079fe;
        transform: rotate(-10deg)
    }
    3% {
        color: #999999;
        transform: rotate(10deg)
    }
    49% {
        color: #0079fe;
        transform: rotate(-11deg)
    }
    53% {
        color:#999999;
        transform: rotate(11deg)
    }
    99% {
        color: #0079fe;
        transform: rotate(-10deg)
    }
    100% {
        color: #999999;
        transform: rotate(10deg)
    }
}
div.quick-middle div.quick-shadow {
    height: 1px;
    background-color: #999999;
    
    flex-grow: 2
}

.quick-tag-wrapper {
    padding: 5px;
    display: inline-block;
    width: 33.33%;
    
}
.quick-tag-text {
    width:72%;
    position: relative;
    left: 5%;
}
.text-gap {
    display: inline-block;
    width: 15%;
}
@media screen and (max-width: 1549px) {
    .quick-tag-parent {
        width: 47%;
        margin: 0 auto;
        text-align: left;
    }
    div.quick-middle {
        width: 46%;
    }
    
    .quick-tag-text {
        width:60%;
        position: relative;
        left: 10%;
    }
    .text-gap {
        display: inline-block;
        width: 15%;
    }
}
@media screen and (max-width: 1280px) {
    .quick-tag-parent {
        width: 60%;
        margin: 0 auto;
        text-align: left;
    }
    .quick-tag-text {
        width:60%;
        position: relative;
        left: 5%;
    }
    div.quick-middle {
        width: 58.5%;
    }
    .text-gap {
        display: inline-block;
        width: 5%;
    }
}
    .quick-tag-icon {
        background:#0079FE;
        height:50px;
        width:25%;
        min-width:50px;
        float:left; 
        text-align:center;
        line-height:60px;
        border-radius: 3px;
        position: relative;
        left: -0.8px;
        top: -1px;
    }
@media screen and (max-width: 950px) {
    .quick-tag-parent {
        min-width: 415px;
        margin: 0 auto;
        text-align: left;
    }
    .quick-tag-wrapper {
        padding: 5px;
        display: inline-block;
        width: 50%;
    }
    .quick-container {
        min-width: 701px;
    }
}