
.rawStanstdardBlock{/**块的样式*/
    color:black;
    height: 70px;
    width: 200px;
    line-height: 70px;  /*行高 */
    text-align:center;
    border:1px solid #e4e4e4;
    cursor: pointer;
    /* display:'inline-block'; */
    margin-left: 15px;
    margin-top: 15px;
}
.rawStanstdardBlock:hover{/**块覆上的时候会显示为蓝色*/
      background-color: #1890ff
}
.rawStanstdardBlock:active{
    background-color: #1890ff
}

.rawStanstdardParent{
    display:flex ;
    flex-wrap: wrap;
    /* position:'absolute'; */
    padding-left: 20px;
    width: 100%;
}
.rawStanstdardBlockQuo{
    color:black;
    height:40px;
    width:33%;
    border: 1px solid #1890ff;
    background-color:#e4e4e4 ;
    
    line-height: 40px;
    text-align:center;
    cursor: pointer;
    display: inline-block;
   
}
.rawStandardPosition{
    position: absolute;
    right: 10px;
   
    /* font-size: 20px; */
    color: #1890ff;
    cursor: pointer;
}
