.checkName{
    display: inline-block;
    width: 20%;
    border:1px solid #e4e4e4;
    height: 35px;
    border-radius: 3px;
    line-height:35px;
    padding-left: 7px;
    margin: 0 10px 20px 0;
}
.headers{
    display: inline-block;
    text-align: right;
    width: 90px;
}
.headers1{
    display: inline-block;
    text-align: right;
    width: 110px;
}
.headersPerson{
    display: inline-block;
    margin-left: 22px;
}
.headersDate{
    display: inline-block;
    margin-left: 19px;
}
.radios{
    margin-left: 5px;
}
.DetailName{
    display: inline-block;
    width: 20%;
    border:1px solid #e4e4e4;
    height: 35px;
    border-radius: 3px;
    line-height:35px;
    padding-left: 7px;
    margin-left: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    /* margin-top: 10px; */
}
/* .DetailNamePic{
    width: 200px;
    height: 50px;
} */
