 #process-table {
    display: block;
    margin-top:30px;
    width:'100%';
    overflow-x: hidden;
    white-space: nowrap;
}
#process-table .thead{
    color: white;
    text-align: center;
}
#process-table .thead tr td{
    background: #1890ff !important;
    height: 35px;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    min-width:124px;
    border: 1px darkgrey solid;
    border-radius: 4px 0 0 0;
}
#process-table  .thead tr :first-child,{
    border-top: none;
    border-left:none;
    border-radius: 5px 0 0 0 !important;
}
#process-table  .thead tr :last-child,{
    border-top: none;
    border-right:none;
    border-radius: 5px 0 0 0 !important;
}
#process-table  .tbody {
    max-height:267px;
    overflow-y:scroll;
    overflow-x: hidden;
    display:block
}
#process-table  .tbody  td{
    height: 35px;
    min-width:124px;
    max-width:124px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    border: 1px darkgrey solid;
}
#process-table  .textAlign{
    border:'none';
    text-align:center;
}
#process-table  .tbody .ant-select-selection{
    border:none !important;
}
#process-table  .tbody .ant-btn{
    border-color:#ffffff;
}
