 #process-table {
    display: block;
    margin-top:10px;
    width:100%;
    overflow-x: hidden;
    white-space: nowrap;
}
#process-table .thead{
    color: white;
    text-align: left;
}
#process-table .thead tr td{
    background: #1890ff !important;
    height: 35px;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    width:130px;
    max-width: 130px;
    min-width: 130px;
    /* width: 10%; */
    border: 1px #e4e4e4 solid;
    border-top: none !important;
    border-bottom: none !important;
    box-sizing: border-box !important;
}
#process-table  .thead tr :first-child{
    border-top: none;
    border-left:none;
}
#process-table  .thead tr td:last-child{
    border-top: none;
    border-right:none;
    width: 89px;
    max-width: 89px;
    min-width: 89px;
}
#process-table  .thead tr :last-child{
    border-top: none;
    border-right:none;
}
#process-table  .tbody {
    max-height:280px;
    overflow-y:scroll;
    overflow-x: hidden;
    display:block;
}
#process-table  .tbody  td{
    height: 35px;
    width:130px;
    font-size: 14px;
    text-align: left;
    border: 1px #e4e4e4 solid;
    box-sizing: border-box !important;
    max-width: 130px;
    min-width: 130px;
}
.detail-text td{
    padding:0 5px;
}
#process-table  .tbody tr td:last-child{
    width: 88px;
    max-width: 88px;
    min-width: 88px;
}
#process-table  .textAlign{
    border:none;
    text-align:left;
}
#process-table  .tbody .ant-select-selection{
    border:none !important;
}
#process-table  .tbody .ant-btn{
    border-color:#ffffff;
}
.notClick{
    cursor: not-allowed;
}
.PI-popover-placeholder{
  color: #cccccc !important;
  width: 100% !important;
  padding: 0!important;
}
