.productCursorPointer {
    cursor: pointer;
}
.productCursorDefault {
    cursor: default;
}
/*表格中操作列Span*/
.productBlueSpan {
    color: #1890ff;
    cursor: pointer;
}
.productBlueSpan i{
    color: #1890ff;
    font-weight: bolder
}
/*发布*/
.productReleaseFooter {
    width: 80px ;
    height: 35px;
    background: #0079FE;
    color: white
}
.productReleaseFooter i{
    font-weight: bolder;
    color: #0079FE;
}

/*
    详情、发布中drSpanModal中样式
    Top: 设置表格样式
    middle: 设置样品名称
    Bottom: 设置检验人、审核人等
 */
/*Top:设置表格样式*/
.productDrSpanModalTop {
    width: 100%;
    cursor: default;
}
.productDrSpanModalTop table{
    width:100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid  #E9E9E9;
}
.productDrSpanModalTop table thead {
    color: white;
    background: #0079FE;
    border: 1px solid  #E9E9E9;
}
.productDrSpanModalTop table thead tr th{
    height: 30px;
    font-size: 13px;
    /*padding-left: 10px;*/
    border: 1px solid  #E9E9E9;
}
.productDrSpanModalTop table tbody tr td {
    height: 30px;
    font-size: 13px;
    /*padding-left: 10px;*/
    border: 1px solid  #E9E9E9;
}
/*Middle:设置样品名称和清空按钮样式*/
.productDrSpanModalMiddle {
    width: 100%;
    padding-top: 5px;
    cursor: default;
    margin-bottom: 45px;

}
.productDrSpanModalMiddle div{
    float: left;
    padding-top: 10px;
    padding-bottom: 14px;
}
/*Bottom:设置检验人、审核人等*/
.productDrSpanModalBottom {
    position:absolute;
    bottom: 130px;
    height: 200px;
    width: 100%;
    cursor: default;
}

.productDrSpanModalBottom .productDrSpanModalBottomFirst {
    padding-top: 20px;
    padding-bottom: 55px;
    height: 50px;
    /*margin-top: -7px;*/
    cursor: default;
}
.productDrSpanModalBottom .productDrSpanModalBottomFirst table {
    float: left;
    /*margin-top: 5px;*/
}
.productStateModal {
    overflow-y: auto;
    width: 100%;
    height: 100px;
}
.productDrSpanDivider {
    margin: 15px 0 !important;
    left: -20px;
    /*z-index: 0 !important;*/
}
.productPadding tr td {
    padding-top: 4px;
    padding-bottom: 4px;
}

/*设置表格样式*/
.productStateDefaultModal{
    /*border: 1px solid black;*/
    width: 480px;
    height: 100px;
    color: #999999;
    text-align: center;
    line-height: 150px;
}
.productPassModal {
    width: 100%;
    /*background: #4BD863;*/
    height: 200px;
}
.productPassModal .productPassExamineModal{
    overflow-y: auto;
    width: 100%;
    height: 100px;
}
.productPassModal .productPassExamineModal table{
    width: 100%;
}
.productPassModal .productOptionalModal {
    width: 100%;
    height: 50px;
    color: #999999;
    text-align: center;
    line-height: 60px;
}
/*
    录检中checkSpanModal
    Top:设置表格样式
    Middle:设置样品名称和清空按钮样式
    Bottom: 设置底部表格样式

 */
/*Top:设置表格样式*/
.productCheckModalTop {
    width: 100%;
    cursor: default;
}
.productCheckModalTop table{
    width:100%;
    border-collapse: collapse;
    border: 1px solid  #E9E9E9;
}
.productCheckModalTop table thead {
    color: white;
    background: #0079FE;
    border: 1px solid  #E9E9E9;
}
.productCheckModalTop table thead tr th{
    height: 30px;
    font-size: 13px;
    padding-left: 10px;
    border: 1px solid  #E9E9E9;
}
.productCheckModalTop table tbody tr td {
    height: 30px;
    font-size: 13px;
    padding-left: 10px;
    border: 1px solid  #E9E9E9;
}
/*Middle:设置样品名称和清空按钮样式*/
.productCheckModalMiddle {
    width: 100%;
    padding-top: 5px;
    cursor: default;
    margin-bottom: 50px;
}
.productCheckModalMiddle div{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.productCheckModalMiddle button {
    color: #999999 ;
    font-size: 14px ;
    font-weight: bolder ;
    font-family:'PingFangSC-Regular', 'PingFang SC' ;
    background-color: white;
    float:right;
    margin-top:5px;
}
/*Bottom: 设置底部表格样式*/
.productCheckModalBottom {
    padding-top: 50px;
    padding-bottom: 20px;
    /*height: 400px;*/
}
.productCheckModalBottom table {
    cursor: default;
}

.productOptional {
    display: flex;
    width: 95%;
}

.productOptionalPerson {
    flex-grow: 2;
    width:200px;
}

.productOptionalImag {
    flex-grow: 2;
    margin-top: -5px;
    border: 5px solid #4BD863;
    width: 100px;
    right:100px;
}
.productOptionalImag span{
    display: block;
    text-align: center;
    height: 50px;
    border: 1px solid #4BD863;
    color: #4BD863;
    margin: 2px;
    font-size: 30px;
}


.productPassValidPointer {
    background-color: #4BD863;
    cursor: pointer;
    /*width: 50%;*/
    height: 100%;
}
.productNoPassValidPointer {
    background-color: #FF3B30;
    cursor: pointer;
    /*width: 50%;*/
    height: 100%;
}
.productDefaultPointer {
    background-color: #999999;
    cursor: pointer;

}


/*drspan表格*/
.productDrSpanTableModal {
    max-height: 180px;
    /*max-height: 250px;*/
    /*border: 1px solid red ;*/
}

.productDrSpanTheadModal {
    display: flex;
    text-align: center;
    font-size: 16px;
}

.productDrSpanTheadModal div{
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    width: 80px;
}
.productDrSpanTheadModal div:first-child{
    width: 60px;
}
.productDrSpanTheadModal div:last-child{
    width: 120px;
    border-right: 1px solid #E9E9E9;
}

.productDrSpanTbodyModal {
    height: 160px;
    /*height: 200px;*/
    /*border: 1px solid green;*/
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
}
.productDrSpanTbodyModal>div {
    font-size: 16px;
    display: flex;

}
.productDrSpanTbodyModal>div:last-child{
    border-bottom: 1px solid #E9E9E9;
}
.productDrSpanTbodyModal>div>div{
    width: 80px;
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
}
.productDrSpanTbodyModal>div>div:first-child{
    width: 60px;
}
.productDrSpanTbodyModal>div>div:last-child {
    width: 120px;
    display: flex;
}
.productDrSpanTbodyModal>div>div:last-child div{
    width: 50%;
}


/*check表格*/
.productSpanTableModal {
    max-height: 330px;
    /*max-height: 250px;*/
    /*border: 1px solid red ;*/
}

.productSpanTheadModal {
    display: flex;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.productSpanTheadModal div{
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    width: 80px;
}
.productSpanTheadModal div:first-child{
    width: 60px;
}
.productSpanTheadModal div:last-child{
    width: 120px;
    border-right: 1px solid #E9E9E9;
}

.productSpanTbodyModal {
    height: 300px;
    line-height: 30px;
    /*height: 200px;*/
    /*border: 1px solid green;*/
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
}
.productSpanTbodyModal>div {
    font-size: 16px;
    display: flex;
    height: 30px;

}
.productSpanTbodyModal>div:last-child{
    border-bottom: 1px solid #E9E9E9;
}
.productSpanTbodyModal>div>div{
    width: 80px;
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
}
.productSpanTbodyModal>div>div:first-child{
    width: 60px;
}
.productSpanTbodyModal>div>div:last-child {
    width: 120px;
    display: flex;
}
.productSpanTbodyModal>div>div:last-child div{
    width: 50%;
}


.productTdInput {
    width: 80px;
}
.productTdInput input{
    border: none;
    height: 26px !important;
}