/* 
#name{
    border: 1px solid #ccc;
    border-radius: 4px;
    size: 45px;
    height: 30px;
    border-radius:6px;
}  */
/* table tr:first-child th:first-child {
    border-top-left-radius: 12px;
} */
.protable {
    display: block;
    /* overflow-x: auto; */
    white-space: nowrap;
    /* border-collapse: collapse */
}

#data{
    max-height:200px;
    overflow-y:scroll;
    display:block
}

#th{
    overflow-y:scroll;
    display:block
}

#th::-webkit-scrollbar{
    display: none;
}

#thd{
    overflow-y:scroll;
    display:block
}
#thd::-webkit-scrollbar{
    display: none;
}

#edit{
    max-height:200px;
    overflow-y:scroll;
    display:block;
}

#edit::-webkit-scrollbar{
    display: none;
}

#edit tr td{
    border: 1px #E4E4E4 solid;
}

.proselect{
    font-family: "微软雅黑";
    margin:0px;
    background: rgba(0,0,0,0);
    width: 119.5px;
    height: 30px;
    text-align: center;
    border: 1px #1a1a1a solid;
    border-radius: 20px;
}

.sleID{
    font-family: "微软雅黑";
    margin:0px;
    background: rgba(0,0,0,0);
    width: 123.5px;
    height: 30px;
    text-align: center;
    border: 1px #1a1a1a solid;
    border-radius: 20px;
}

.proinput{
    width:115px;
    height: 30px;
    margin: 0%;
    border-radius: 8px;
}

.proinputName{
    width:113px;
    height: 30px;
    margin: 0%;
    border-radius: 8px;
}

#proname{
    border: 1px solid #ccc;
    padding: 6px 0px;
    border-radius: 3px;
    padding-left:5px;
    width: 360px;
    height: 40px;
}

.prothead tr td{
    background: #0079FE;
    color: #ffffff;
    text-align: center;
    list-style: none;
    padding: 5px;
    font-weight: 600;
    border: 1px #E4E4E4 solid;
    width: 400px;
    height: 40px;
}

.protbody tr td{
    text-align: center;
    border: 1px #e8e8e8 solid;
    height: 40px;
}

.Editgrey {
    color: #CCCCCC;
    cursor: not-allowed; 
}