.eRp {
    display: flex;
    height: 525px;
    /*background-color: #859900;*/
}
.eRp-left {
    width: 20%;
    height: 100%;
    /*background-color:#cea61b;*/
    /*overflow-y: auto;*/
    /*overflow-x: auto;*/
    font-size: small;

}
.eRp-right {
    width: 80%;
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;

}
.eRp-shangbianju{
    margin-top: 48px;
    width: 100%;
}
.eRp-putright{
    position: absolute;
    right: 16px;
}
th.eRp-thblue{
    background-color: royalblue!important;
}