.fontAdd{
    text-align: right !important;
    vertical-align: right !important;
}

.imgRequire:before{
    display: inline-block;
    margin-right: 4px;
    content: "*";
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
}


.fontInfo{
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 800;
    font-style: normal;
    margin-left:50px
}
.fontAttribute{
    width:950px;
    margin:3% auto;
}
.fontAttribute span{
    display: inline-block;
    width:160px;
    text-align: right;
    padding-right: 10px
}
