.container{
    padding: 15px;
    overflow: auto;
    height:510px;
}
.historyContianer{
    padding: 0px 15px;
    overflow: auto;
    height:510px;
}
.historySearch{
    margin-bottom: 45px;
}
.wholediv{
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.35);
    border-radius: 10px;
    margin-bottom:19px;
    min-width:812px;
}
.wholep{
    width: 100%;
    height:50px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    white-space: nowrap;
    align-content:center;
    vertical-align: bottom;
    min-width: 800px;
}
.wrap1{
    flex-grow: 3;
    height: 100%;
}
.wrap2{
    flex-grow: 3;
    height: 100%;
}
.wrap3{
    flex-grow: 6;
    height: 100%;
    text-align: right;
}
.smallSize{
    color:black;
    width:10%;
    padding:0 1%;
}
.smaSize{
    color:black;
    width:10%;
    padding:0 10%;
}
.bigSize{
    font-size: 18px;
    width:30%;
    font-weight: bolder;
    color:#0066fe;
    padding: 0 1% 0;
}
.rightSpan{
    padding-left: 17%;
    width:50%;
    text-align: right;
}
.time{
    color:#333;
    padding:0 1%;
}
.demo{
    width:100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: row;
    /* white-space: nowrap; */
    vertical-align: bottom;
  }
  .item1{
    flex: 0.65;
    text-align: center;
    line-height:69.63px;
    cursor: pointer;
    padding-right: 5px;
  }
  .item1 :hover,.item3 :hover{
      color: #1890ff;
  }
  .item2{
    flex-grow: 6;
    min-width: 840px;
    max-width: 840px;
    overflow: hidden;
    /* border:1px solid grey; */
  }
  @media screen and (max-width:1200px){
    .item2{
        flex-grow: 6;
        min-width: 600px;
        max-width: 600px;
        overflow: hidden;
        /* border:1px solid grey; */
      }
  }
  .item3{
    flex-grow: 0.50;
    text-align: center;
    cursor: pointer;
    line-height:69.63px;
    padding-left: 5px;
  }
  .item4{
    flex-grow: 4;
    padding-top:25px;
    text-align:right;
  }
  .item1 i{
      width:40px;
      line-height:69.63px;
      border-radius: 0.2em 0 0 0.2em;
  }
  .item3 i{
    width:40px;
    line-height:69.63px;
    border-radius: 0 0.2em 0.2em 0;
}
.item2 .part{
    width:120px;
    height:100%;
    padding-right:15px;
    display: flex;
}
.item2 .partSpan{
    font-size: 14px;
    /* padding:0 15px 0 0; */
    font-weight: 600;
}
.darkBlue{
    font-size: 14px;
    font-weight: 600;
    color:#0066fe;
}
.darkBlue1{
    font-size: 13px;
    font-weight: 400;
    color:#0066fe;
}
.red-font{
    font-size: 14px;
    font-weight: 400;
    color:red;
}
.red-font1{
    font-size: 13px;
    font-weight: 400;
    color:red;
}
.item2 .partSpan1{
    font-size: 13px;
    font-weight: 400;
}
.item2 .item2Scroll{
    /* width:120%; */
    display: flex;
}
.line{
    width:100%;
    height:1.5px;
    margin-top: 13%;
    /* padding:5px 20px 5px 0; */
    border-bottom: 1px solid #0066fe;
}
.line1{
    width:100%;
    height:1.5px;
    margin-top: 13%;
    /* padding:5px 20px 5px 0; */
    border-bottom: 1px solid grey;
}
.red-line{
    width:100%;
    height:1.5px;
    margin-top: 13%;
    border-bottom: 1px solid red;
}
.online{
    width:100px;
    height:1.5px;
    padding:5px 20px 5px 0;
    border-bottom: 1px solid grey;
    display: none;
}
.iconColor{
    background-color:#0079fe;
}
.circle{
    width:32px;
    height:32px;
    border-radius: 25px;
    border:2px solid #0079fe;
}
.circle i{
    margin:0 auto;
    color:#0079fe;
    padding:26%;
}
.redCircle{
    width:32px;
    height:32px;
    border-radius: 25px;
    border:2px solid red;
}
.redCircle i{
    margin:0 auto;
    color:red;
    padding:26%;
}
.circle1{
    width:32px;
    height:32px;
    border-radius: 25px;
    border:2px solid #CCCCCC;
    margin:0 auto;
    color:#999999;
    padding:11% 28%;
}
.checkModal{
    height:400px;
    width:100%;
}
.checkModal .checkModalDiv{
    padding-top:20px;
    height:250px;
}
.checkModalTest{
    float: right;
    height:100px;
    width:400px;
    border:1px solid #e4e4e4;
}
.check-footer{
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
}
.interProduct-footer{
    height: 100px;
    width: 100%;
    position: relative;
    top:126px;
    bottom: 0;
}
.redlistDiv{
    height:100px;
    padding:10px;
}
.red-min-width{
    min-width: 100px;
}  
.check-status{
    color:#999999;
    width:100px;
    padding:10px;
    margin-right: 10px;
}  
.check-detail{
    width:100%;
    height: 100px;
    padding:10px;
    display: flex;
    flex-direction: row;
    /* border:1px solid grey;  */
}

.check-detail-div{
    flex-grow: 60;
    width:800px;
    overflow: hidden;
    /* border:1px solid grey;  */
}
.check-detail-div-hidden{
    width:1000px;
    display: flex;
    flex-direction: row;
}
.check-detail-div-hidden .check-detail-div-hidden-part{
    width:500px;
    padding:10px;
    display: flex;
    flex-direction: row;
}
.check-detail-div-hidden-part .part-demo{
    flex-grow: 2;
    width:240px;
}
.check-detail-div-hidden-part .line-part{
    flex-grow: 1;
    width:100px;
    height:30px;
    border-bottom: 1px solid grey;
}
.check-detail-i{
    flex-grow: 2;
    align-self:flex-start;
}
.check-detail-i i{
    width:30px;
    border-radius: 0.2em 0 0 0.2em;
}
.check-detail-i :hover{
    color: #1890ff;
}
/* .checkModal div:last-child{
    width:100px;
    height:70px;
    text-align: right;
} */

/* .wrapxxx {
    border: 1px solid black;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 538px;
    padding: 10px;
}
.quan {
    height: 100%;
    flex-grow: 1;
    background-color: red;
    border-radius: 50%;
}
.line2 {
    height: 2%;
    flex-grow: 1;
    background-color: black;
    z-index: 100;
} */
