.productStandard{
    width:97%;
    height:500px;
    margin:20px;
    border:1px solid #cccccc;
    border-top: none;
}
.productStandard .img{
    display: flex;
    height:40px;
    flex-direction: row;
    position: relative;
    top:-5px;
}
.img1{
    z-index: 10;
    width:115%;
    height:100%;
    border-width: none;
}
/* style={{width:'100%',height:'35px',borderWidth:'0px'}} */
.img2{
    z-index: 5;
    width:115%;
    height:100%;
    left:-10px;
    position: relative;
    border-width: none;
}
.img3{
    z-index: 1;
    width:115%;
    left:-25px;
    height:40px;
    border-width: none;
    position: relative;
}
.product-standrad-top{
    width:100%;
    height:40px;
    display: flex;
}
.product-standrad-top-click {
    background-image: url('./head.svg');
    background-size:100% 40px;
    /* background-color: #0091ff; */
}
#product-0{
    z-index: 10;
}
#product-1{
    position: relative;
    left:-10px;
    z-index: 5;
}
#product-2{
    position: relative;
    left:-20px;
    z-index: 3;
}
.product-standrad-top-notclick {
    background-image: url('./head-white.svg');
    background-size:100% 40px;
}
.product-standrad-top-click i,.product-standrad-top-click span{
    color: white;
    font-weight: bold;
}
.product-standrad-top div{
    flex-grow: 1;
    line-height: 40px;
    text-align: center;
}
.product-standrad-middle{
    padding:15px;
}