.positive-process-detail-workShop{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 50vw;
    padding: 20px;
    margin:1% auto;
}
.positive-process-detail-workShop-div{
  
    width:100%;
    overflow-y:auto;
    border:1px solid #e4e4e4;
}
.positive-process-detail-height1{
    height:380px;
}
.positive-process-detail-height2{
    height:230px;
}
/* .positive-process-detail span{
    width: 120px;
    text-align: right;
    display: inline-block;
}
.positive-process-detail div{
    width: 300px;
    display: inline-block;
    margin-right: 10px;
} */