.fireInsSamRec_print{
    font-family: 'Arial Normal', 'Arial';
    font-style: normal;
    color: #333333;
    line-height: normal;
    /*display: none;*/
}
.fireInsSamRec_print_big{
    font-size: 28px ;
    font-weight: 400;
}
.fireInsSamRec_print_small{
    font-size: 10px;
    /*font-weight: 400;*/
}
.printModal_scala{
    height: 500px;
}
.printModal_print{
    display: none;
}


@media print {
    body {
        color: #000;
        background: #fff;
    }
    nav, aside {
        display: none;
    }
    body, article {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
    /*@page {*/
        /*width: 50em;*/

    /*}*/
    /*@page :left {*/
        /*margin-left: -10px ;*/
    /*}*/


    /*@page :right {*/
        /*margin-left: 0 ;*/
    /*}*/
}