/*详情原生表格样式*/
.rawStandardTop{
   width: 100%;
}
.rawStandardTop table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #E9E9E9;
}
.rawStandardTop table thead{
    color: white;
    background-color: #0079FE;
    border: 1px solid #E9E9E9;

}
.rawStandardTop table thead tr th{
    font-size: 13px;
    border:1px solid #E9E9E9;
    height: 30px;
}
.rawStandardTop table tbody tr td{
    font-size: 13px;
    border:1px solid #E9E9E9;
    height: 30px;
}
/**详情下部表格样式*/
.rawStandardTable  tr  th{
    background-color: #f2f2f2 !important;
    cursor: default !important;
    height: 30px !important;
    font-size: 13px !important;
}