header{
    text-align: center;
    float: left;
    /* border: rgb(112,118,139) solid 1px; */
    border-bottom: none;
    position: relative;
    font-size: 15px;
}

.theHead {
    background: #0086ff;
    color: #ffffff;
    text-align: center;
    list-style: none;
    padding: 10px;
    font-weight: 600;
    border-radius: 0.2em 0.2em 0 0 ;
    /* height:40px; */
}
.clear {
    clear: both;
}
.contents {
    float: left;
    height: 340px;
    border: #e4e4e4 solid 1px;
    list-style: none;
    overflow-y: scroll;
}
.middle {
    float: left;
    height: 340px;
    list-style: none;
    /* border-bottom: rgb(112,118,139) solid 1px;
    border-top: rgb(112,118,139) solid 1px; */
}
.unsignedTable{
    text-align: center;
    float: left;
    border: rgb(112,118,139) solid 1px;
    position: relative;
    font-size: 15px;
}
/* .contents li input {
    margin-right: 30px;
    margin-left: 25px;
} */
ul {
    width: 100%;
}
.contents li{
    padding: 6px 42px 6px 42px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px #e4e4e4 solid;
    overflow: hidden;
}
.contents input[type="checkbox"]{
    float: right;
    right: 0;
    margin-top: 5px;
}
.check-label {
    display: inline;
    /* width: 100px; */
    float: left;
    text-align: left;
}

.moddal-button-arrow {
    background-color: #0086ff !important;
    color: #ffffff !important;
    border:none !important;
    margin:0 auto !important;
    display: block !important;
    text-align: center !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
}
.moddal-button-arrow:nth-child(1){
  transform: translate(-50%,-25px)!important;
}
.moddal-button-arrow:nth-child(2){
  transform: translate(-50%,25px)!important;
}
