.purchaseTable td {
    font-size: 14px;
    text-align: center;
}
.purchasePackTable .ant-checkbox.ant-checkbox-disabled {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 37px;
}
.purchasePackTable .ant-checkbox.ant-checkbox-disabled::after {
  content: "已生成";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #ccc;
  top: 0;
  left: 0;
  line-height: 21px;
}
.purchasePackTable .ant-checkbox.ant-checkbox-disabled > *{
  display: none;
}
.purchasePackTable .ant-table-tbody > tr > td.ant-table-selection-column {
  height: 37px;
  vertical-align: baseline;
  box-sizing: border-box;
}
.purchasePackTable .ant-table-tbody > tr > td.ant-table-selection-column > span{
  display: inline-block;
  width: 100%;
  height: 100%;

}
.purchasePackTable .ant-table-tbody > tr > td.ant-table-selection-column > span > .ant-checkbox-wrapper{
  display: inline-block;
  height: 100%;
  width: 100%;
}

