.borderRadius {
    border-radius: 3px 0 0 0;
}
.leftBorderRadius {
    border-radius: 0 0 3px 3px;
}
#modalTable {
    width: 1000px;
    height: 470px;
    white-space: nowrap;
    /*display: flex;*/
    font-size: 0;


}
.thead {
    height: 90px;
    width: 100%;
    transition: width 0.3s, height 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 3px 3px 0 0;
    background-color: #F2F2F2;

}
.theadLeft {
    min-width: 20%;
    max-width: 20%;
    height: 90px;
    position: relative;
    border-radius: 3px 0 0 0;
    display: flex;
    line-height: 90px;
    text-align: center;
}
.leftThead {
    min-width: 49.9%;
    max-width: 49.9%;
    height: 90px;
    color: black;
    /*border-right: 1px solid #E9E9E9;*/
    font-size: 13px;
    border-left: 1px solid #E9E9E9;
}
.leftOnclick {
    display: block !important;
    width: 20px !important;
    right:-1px;
    height: 90px;
    font-size: 20px;
    position:absolute;
    background-color: #0079FE;
    border-radius: 20px 0 0 20px;
    text-align:center;
    z-index:100;
    cursor: pointer;
}
.leftOnclick i {
    color: white;
}
.rightOnclick {
    display: block !important;
    width: 20px !important;
    left:-1px;
    height: 90px;
    font-size: 20px;
    position:absolute;
    background-color: #0079FE;
    border-radius: 0 20px 20px 0;
    text-align:center;
    z-index:100;
    cursor: pointer;

}
.rightOnclick i {
    color: white;
}
.theadMiddle {
    background-color: #F2F2F2;
    height: 90px;
    min-width: 70%;
    max-width: 70%;
}
.middleThead {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: hidden; /*需要有overflow-x hidden只是将滚动条掩盖了*/
    overflow-y: hidden;
    display: flex;
    /*flex-wrap: nowrap;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}
.middleTheadDiv {
    min-width: 100px;
    max-width: 100px;
    line-height: 29px;
    text-align: center;
    font-size: 13px;
    color:black;
    /*border-left: 1px solid #E9E9E9;*/
    cursor: default;
    border-left: 1px solid #E9E9E9;
    transition: transform 2s;
}
.middleTheadDiv div{
    border-bottom: 1px solid #E9E9E9;
}

#theadRight {
    border-radius:0 3px 0 0;
    width: 10%;
    height: 90px;
    background-color: #F2F2F2;
    line-height: 90px;
    text-align: center;
    cursor: default;
    font-size: 13px;
    border-left: 1px solid #E9E9E9;
    color:black;
    position: relative;
}

/*----tbody--------*/
.tbody {
    height: 70%;
    width: 100%;
    transition: width 0.3s, height 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto ; /*才能让y滚动取消*/
}
.tbodyLeft {
    min-width: 20%;
    max-width: 20%;
    height: 100%;
}
.leftTbody {
    min-width: 100%;
    max-width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: default;
    font-size: 13px;
    display: flex;

}
.leftTbody div{
    height: 30px;
    min-width: 49.9%;
    max-width: 49.9%;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}

.tbodyMiddle {
    min-width: 70%;
    max-width: 70%;
    /*overflow-y: inherit;*/

}
.middleTbody {
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}
.middleTbodyDiv {
    min-width: 100%;
    max-width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
    display: flex;
    cursor: pointer;
}
.middleTbodyDivWhite {
    min-width: 100px;
    max-width: 100px;
    height: 30px;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}
.middleTbodyDivRed {
    background-color: #FF3B30;
    min-width: 100px;
    max-width: 100px;
    height: 30px;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}
.tbodyRight {
    min-width: 10%;
    max-width: 10%;
    height: 100%;
}
.rightTbody {
    min-width: 100%;
    max-width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: default;
    font-size: 13px;
    display: flex;
}
.rightTbody div {
    height: 30px;
    min-width: 49.9%;
    max-width: 49.9%;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    cursor: pointer;
}

.isQualified {
    background-color: #999999;
    color:white;
}
.passJudge {
    background-color: #4BD863;
    color:white;
}
.nopassJudge {
    background-color: #FF3B30;
    color:white;
}
