.borderRight {
    border-right: 1px solid #E9E9E9;
}
#modalTable {
    width: 100%;
    height: 470px;
    white-space: nowrap;
    /*display: flex;*/
    font-size: 0;


}
#thead {
    height: 90px;
    width: 100%;
    transition: width 0.3s, height 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 3px 3px 0 0;
    border: 1px solid #E9E9E9;
    background-color: #F2F2F2;

}
#theadLeft {
    min-width: 20%;
    max-width: 20%;
}
#theadLeft div {
    border-radius: 3px 0 0 0;
    width: 100%;
    height: 90px;
    line-height: 90px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}
.leftThead {
    min-width: 50%;
    max-width: 50%;
    height: 90px;
    /*border-right: 1px solid #E9E9E9;*/
    font-size: 13px;
}
#theadMiddle {
    background-color: #F2F2F2;
    height: 87px;
    min-width: 70%;
    max-width: 70%;
}
.leftOnclick {
    font-size: 20px;
    position:absolute;
    left:210px;
    background-color: #0079FE;
    padding-top: 12px;
    padding-bottom: 11px;
    z-index:100;
    cursor: pointer;
}
.rightOnclick {
    font-size: 20px;
    position:absolute;
    right:125px;
    top:170px;
    background-color: #0079FE;
    padding-top: 12px;
    padding-bottom: 11px;
    z-index:100;
    /*flex-grow: 1;*/
    cursor: pointer;
}
.middleThead {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: hidden; /*需要有overflow-x hidden只是将滚动条掩盖了*/
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.middleTheadDiv {
    min-width: 14.3%;
    max-width: 14.3%;
    line-height: 29px;
    text-align: center;
    font-size: 13px;
    border-left: 1px solid #E9E9E9;
    cursor: default;
    transition: transform 2s;
}
.middleTheadDiv div{
    border-bottom: 1px solid #E9E9E9;
}

#theadRight {
    border-radius:0 3px 0 0;
    width: 10%;
    height: 90px;
    background-color: #F2F2F2;
    white-space: nowrap; /*强制内部原文不换行*/
    line-height: 90px;
    text-align: center;
    cursor: default;
    font-size: 13px;
    border-left: 1px solid #E9E9E9;
}

/*----tbody--------*/
#tbody {
    height: 70%;
    width: 100%;
    transition: width 0.3s, height 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto; /*才能让y滚动取消*/
    /*border: 1px solid #E9E9E9;*/
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #E9E9E9;
    border-radius:0 0 3px 3px;
}
#tbodyLeft {
    min-width: 20%;
    max-width: 20%;
}
#tbodyLeft div {
    border-radius: 3px 0 0 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.leftTbody {
    min-width: 50%;
    max-width: 50%;
    height: 30px;
    /*border-right: 1px solid #E9E9E9;*/
    border-bottom: 1px solid #E9E9E9;
    cursor: default;
    font-size: 13px;
}
#tbodyArea {
    /*height: 100%;*/
    min-width: 70%;
    max-width: 70%;
}
.tbodyMiddle {
    /*height: 100%;*/
    min-width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: hidden; /*需要有overflow-x hidden只是将滚动条掩盖了*/
}
.middleTbody{
    /*min-width: 14.3%;  !*14*!*/
    min-width: 100%;
    max-width: 100%;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;

    /*transition: transform 2s;*/
}
.middleTbodyDiv {
    min-width: 14.3%;
    max-width: 14.3%;
    line-height: 29px;
    text-align: center;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    font-size: 13px;
    cursor: pointer;
    transition: transform 2s;
}
.middleTbodyDivRed {
    background-color: #FF3B30;
    min-width: 14.3%;
    max-width: 14.3%;
    line-height: 29px;
    text-align: center;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    font-size: 13px;
    cursor: pointer;
    transition: transform 2s;
}


#tbodyRight {
    min-width: 10%;
    max-width: 10%;
    border-left: 1px solid #E9E9E9;

}
#tbodyRight div {
    white-space: nowrap; /*强制内部原文不换行*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    cursor: pointer;
}
/*#tbodyRight div div {*/
    /*background-color: #999999;*/
    /*color:white;*/
    /*min-width: 50%;*/
    /*max-width: 50%;*/
    /*height: 22px;*/
    /*line-height: 22px;*/
    /*text-align: center;*/
    /*font-size: 12px;*/

/*}*/

.isQualified {
    background-color: #999999;
    color:white;
    min-width: 50%;
    max-width: 50%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #E9E9E9;
}
.passJudge {
    background-color: #4BD863;
    color:white;
    min-width: 50%;
    max-width: 50%;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #E9E9E9;
}
.nopassJudge {
    background-color: #FF3B30;
    color:white;
    min-width: 50%;
    max-width: 50%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #E9E9E9;
}
/*!**!*/