/*
    主页面-标签：purchaseCheckReport
 */
.purchaseReportTab {
    padding-left: 25px;
    padding-right: 25px
}

.purchaseTopTable {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    border-collapse: collapse;
    border: 1px solid  #E9E9E9;
    border-radius: 3px;
    width: 57%;
}
.purchaseTopThead {
    color: white;
    background: #0079FE;
}
.purchaseTopThead tr th {
    text-align: center;
    font-size: 15px;
    border: 1px solid #E9E9E9;
}
.purchaseTopThead tr th:first-child{
}
.purchaseTopThead tr th:last-child{
    border-right: none;
}
/*.purchaseTopTbody tr {*/
    /*display: flex;*/
    /**/
/*}*/
.purchaseTopTbody tr td {
    width: 15%;
    text-align: center;
    border: 1px solid #E9E9E9;
}
.purchaseTopTbody tr td .ant-input{
    height: 20px !important;
    text-align: center;
    border: none;
}
.purchaseTopJudger {
    float: left;
    /*right: -20px;*/
    margin-left: 15px;
    margin-top: 40px;
}
.borderRight {
    border-right: 1px solid #E9E9E9;
}
.borderRadius {
    border-radius: 3px 0 0 0;
}
.leftBorderRadius {
    border-radius: 0 0 0 3px;
}
.cursorPointer {
    cursor: pointer;
}
.cursorDefault {
    cursor: default;
}

#modalTable {
    width: 1000px;
    height: 470px;
    white-space: nowrap;
    /*display: flex;*/
    font-size: 0;


}
#unqualfiedModalTable {
    width: 1000px;
    height: 330px;
    white-space: nowrap;
    /*display: flex;*/
    font-size: 0;

}
.purchaseThead {
    height: 90px;
    width: 100%;
    transition: width 0.3s, height 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 3px 3px 0 0;
    background-color: #F2F2F2;

}
.theadLeft {
    min-width: 20%;
    max-width: 20%;
    height: 90px;
    position: relative;
    border-radius: 3px 0 0 0;
    display: flex;
    line-height: 90px;
    text-align: center;
}
.leftThead {
    min-width: 49.9%;
    max-width: 49.9%;
    height: 90px;
    color: black;
    /*border-right: 1px solid #E9E9E9;*/
    font-size: 13px;
    border-left: 1px solid #E9E9E9;
}
.leftOnclick {
    display: block !important;
    width: 20px !important;
    right:-1px;
    height: 90px;
    font-size: 20px;
    position:absolute;
    background-color: #0079FE;
    border-radius: 20px 0 0 20px;
    text-align:center;
    z-index:100;
    cursor: pointer;
}
.leftOnclick i {
    color: white;
}
.rightOnclick {
    display: block !important;
    width: 20px !important;
    left:-1px;
    height: 90px;
    font-size: 20px;
    position:absolute;
    background-color: #0079FE;
    border-radius: 0 20px 20px 0;
    text-align:center;
    z-index:100;
    cursor: pointer;

}
.rightOnclick i {
    color: white;
}
.theadMiddle {
    background-color: #F2F2F2;
    height: 90px;
    min-width: 70%;
    max-width: 70%;
}
.middleThead {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: hidden; /*需要有overflow-x hidden只是将滚动条掩盖了*/
    overflow-y: hidden;
    display: flex;
    /*flex-wrap: nowrap;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}
.middleTheadDiv {
    min-width: 100px;
    max-width: 100px;
    line-height: 29px;
    text-align: center;
    font-size: 13px;
    color:black;
    /*border-left: 1px solid #E9E9E9;*/
    cursor: default;
    border-left: 1px solid #E9E9E9;
    transition: transform 2s;
}
.middleTheadDiv div{
    border-bottom: 1px solid #E9E9E9;
}
.middleTheadDivLength {
    flex-grow:1;
    line-height: 29px;
    text-align: center;
    font-size: 13px;
    color:black;
    /*border-left: 1px solid #E9E9E9;*/
    cursor: default;
    border-left: 1px solid #E9E9E9;
    transition: transform 2s;
}
.middleTheadDivLength div{
    border-bottom: 1px solid #E9E9E9;
}

#theadRight {
    border-radius:0 3px 0 0;
    width: 10%;
    height: 90px;
    background-color: #F2F2F2;
    line-height: 90px;
    text-align: center;
    cursor: default;
    font-size: 13px;
    border-left: 1px solid #E9E9E9;
    color:black;
    position: relative;
}

/*----tbody--------*/
.purchaseTbody {
    height: 70%;
    width: 100%;
    transition: width 0.3s, height 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto ; /*才能让y滚动取消*/
}
.tbodyLeft {
    min-width: 20%;
    max-width: 20%;
    height: 100%;
}
.leftTbody {
    min-width: 100%;
    max-width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: default;
    font-size: 13px;
    display: flex;

}
.leftTbody div{
    height: 30px;
    min-width: 49.9%;
    max-width: 49.9%;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}

.tbodyMiddle {
    min-width: 70%;
    max-width: 70%;
    /*overflow-y: inherit;*/

}
.middleTbody {
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}
.middleTbodyDiv {
    min-width: 100%;
    max-width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
    display: flex;
}
.middleTbodyDivWhite {
    min-width: 100px;
    max-width: 100px;
    transition: transform 2s;
    height: 30px;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}
.middleTbodyDivWhiteLength {
    min-width: 50px;
    flex-grow:1;
    /*flex-shrink:1;*/
    height: 30px;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    text-align:center
}
.middleTbodyDivWhiteLength div{
    margin:0 auto;
    width: 30px;
}
.middleTbodyDivRed {
    min-width: 100px;
    max-width: 100px;
    transition: transform 2s;
    background-color: #FF3B30;
    height: 30px;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}
.middleTbodyDivRedLength {
    min-width: 50px;
    flex-grow:1;
    /*flex-shrink:1;*/
    height: 30px;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    background-color: #FF3B30;
    text-align:center
}
.middleTbodyDivRedLength div{
    margin:0 auto;
    width: 30px;
}
.tbodyRight {
    min-width: 10%;
    max-width: 10%;
    height: 100%;
}
.rightTbody {
    min-width: 100%;
    max-width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    display: flex;
}
.rightTbody div {
    height: 30px;
    min-width: 49.9%;
    max-width: 49.9%;
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}

.isQualified {
    background-color: #999999;
    color:white;
}
.passJudge {
    background-color: #4BD863;
    color:white;
}
.nopassJudge {
    background-color: #FF3B30;
    color:white;
}

/*
    打包页面：pack
 */
.purchaseTable td {
    font-size: 14px;
    text-align: center;
}
.purchasePackTable .ant-checkbox.ant-checkbox-disabled {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 37px;
}
.purchasePackTable .ant-checkbox.ant-checkbox-disabled::after {
    content: "已生成";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #ccc;
    top: 0;
    left: 0;
    line-height: 21px;
}
.purchasePackTable .ant-checkbox.ant-checkbox-disabled > *{
    display: none;
}
.purchasePackTable .ant-table-tbody > tr > td.ant-table-selection-column {
    height: 37px;
    vertical-align: baseline;
    box-sizing: border-box;
}
.purchasePackTable .ant-table-tbody > tr > td.ant-table-selection-column > span{
    display: inline-block;
    width: 100%;
    height: 100%;

}
.purchasePackTable .ant-table-tbody > tr > td.ant-table-selection-column > span > .ant-checkbox-wrapper{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.unTrackTopModal {
    padding-bottom: 15px;
}

.unTrackTopTable{
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    border-collapse: collapse;
    border: 1px solid  #E9E9E9;
    border-radius: 3px;
    width: 60%;
}
.unTrackTopThead {
    color: white;
    background: #0079FE;
}
.unTrackTopThead tr th {
    height: 35px;
    /*text-align: center;*/
    padding-left: 5px;
    font-size: 15px;
    border: 1px solid #E9E9E9;
}
.unTrackTopThead tr th:last-child{
    border-right: none;
}

.unTrackTopTbody tr {
    /*height: 20px !important;*/
}
.unTrackTopTbody tr td{
    width: 20%;
    /*text-align: center;*/
    border: 1px solid #E9E9E9;
    height: 35px !important;
    /*padding-left: 5px;*/
}
/*.unTrackTopTbody tr td:first-child{*/
    /*padding-left: 5px;*/
/*}*/
.unTrackTopTbody tr td .ant-select-selection{
    /*height: 20px !important;*/
    /*text-align: center;*/
    border: none;
}
/*.unTrackSelect .ant-select .ant-select-enabled{*/
    /*height: 20px !important;*/
/*}*/

.unTrackTopTable tbody tr td .ant-calendar-picker-input{
    border: none ;
}
.paddingTop td{
    padding-left: 5px;
}

.unTrackTr .ant-select-selection__rendered{
    margin-left: 5px;
}
.unTrackTr td:first-child{
    padding-left: 5px;
}