.lB {
    display: flex;
    height: 550px;
    /*background-color: #859900;*/

}
.lB-left {
    width: 20%;
    height: 100%;
    /*background-color:#cea61b;*/
    /*overflow-y: auto;*/
    /*overflow-x: auto;*/
    font-size: small;
}
.lB-right {
    width: 80%;
    height: 100%;
    padding-left: 10px;

}
.lB-shangbianju{
    margin-top: 12px;
}
#lB-departmentCard,#titledepartment1{
    text-align: center;
    font-size: 10px;
}