.thead{
    background-color: #3369ff;
    color:white;
}
.tbody tr td{
    /* color:black;
    border:1px solid grey; */
    text-align: center;
    color:#666;
}
.span{
    color:black;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.rawTestReport-checkModal{
    border:3px solid #999999;
    width:100px;
    float:right;
}
.rawTestReport-checkModal span{
    display:block;
    text-align:center;
    height:50px;
    border:1px solid #999999;
    color:#999999;
    margin:2px;
    font-size:25px;
    padding-top:4px;
}
.qualified-span{
    border:1px solid #4BD863;
    color:#4BD863;
}

.failed-span{
    border:1px solid #FF3B30;
    color:#FF3B30;
}
.statusDiv{
    height:80px;
    text-align: center;
    line-height: 80px;
}
.table-recorcd{
    background-color: #e3f7ff;
}

.rawTestReport-detailModal{
    cursor: default;
    /*height: 200px !important;*/
}

/*打印*/
.rawTestReport_print{
    font-family: 'Arial Normal', 'Arial';
    font-style: normal;
    color: #333333;
    line-height: normal;
    /*display: none;*/
}
.rawTestReport_print_big{
    font-size: 28px ;
    font-weight: 400;
}
.rawTestReport_print_small{
    font-size: 10px;
    /*font-weight: 400;*/
}
.printModal_scala{
    height: 500px;
}
.printModal_print{
    /*display: none;*/
    display: none;
}


@media print {
    body {
        color: #000;
        background: #fff;
    }
    nav, aside {
        display: none;
    }
    body, article {
        width: 30% !important;
        margin-left: 0;
        padding-left: 0;
    }
}