.eA {
    display: flex;
    height: 550px;
    /*background-color: #859900;*/

}
.eA-left {
    width: 17%;
    height: 100%;
    /*background-color: #00B83F;*/
    overflow-y: auto;
    overflow-x: auto;
    font-size: small;
}
.eA-right {
    width: 83%;
    height: 100%;
    /*background-color: #2a65a0;*/
}
.eA-right-top {
    width: 100%;
    height: 10%;
    /*background-color: yellow;*/
}
.eA-right-bottom {
    width: 100%;
    /*height: 50px !important;*/
    /*background-color: red;*/
}

.depTree-input {
    max-width: 100px;
    height:25px
}

/*设备状况*/
.eq-statu1 i {
    color:lawngreen;
}
.eq-statu2 i {
    color:yellow;
}
.eq-statu3 i {
    color:red;
}
.eq-statu4 i {
    color:grey;
}

/*增加模块*/
.eq-addModal-newRow {
    height: 110px;
    overflow-y: auto;
}

/*功能*/
.eq-divider {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
/*fittingModal*/
.eq-td {
    border: 1px solid black;
    width: 150px;
}
.eq-td-left {
    border-left: 0;
}

.depTreeSelect {
    background: #0079FE;
    border-radius:3px;
    color: white;
}
.depTreeSelect span{
    padding: 5px;
}

.eq-detailModalFirst{
    display: flex;
}
.eq-detailModalFirstFont {
    padding-top: 5px;
    font-size: 20px;
}
.eq-detailModalDiv{
    width: 110px;
    height: 35px;
    /*border: 1px solid grey;*/
    padding-top: 5px;
    padding-left: 5px;
    border-radius:3px;
}
.eq-detailModalDiv-switch{
    width: 210px;
    height: 35px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius:3px;
}

.eq-component-titleHead {
    height: 40px;
    display: flex;
}
.eq-component-title-first{
    height: 40px;
    padding-top: 10px;
}
/*配件*/
.eq-component-title{
    background: #F2F2F2;
    color: black;
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.eq-comModal-newRow {
    max-height: 250px;
    overflow-y: auto;
}