



.productCursorPointer {
    cursor: pointer;
}
.productCursorDefault {
    cursor: default;
}
/*表格中操作列Span*/
.productBlueSpan {
    color: #1890ff;
    cursor: pointer;
}
.productBlueSpan i{
    color: #1890ff;
    font-weight: bolder
}
/*发布*/
.productReleaseFooter {
    width: 80px ;
    height: 35px;
    background: #0079FE;
    color: white
}
.productReleaseFooter i{
    font-weight: bolder;
    color: #0079FE;
}

/*
    详情、发布中drSpanModal中样式
    Top: 设置表格样式
    middle: 设置样品名称
    Bottom: 设置检验人、审核人等
 */
/*Top:设置表格样式*/
.productDrSpanModalTop {
    width: 480px;
    cursor: default;
}
.productDrSpanModalTop table{
    width:100%;
    /*text-align: center;*/
    border-collapse: collapse;
    border: 1px solid  #E9E9E9;
}
.productDrSpanModalTop table thead {
    color: white;
    background: #0079FE;
    border: 1px solid  #E9E9E9;
}
.productDrSpanModalTop table thead tr th{
    padding-left: 5px;
    height: 30px;
    font-size: 13px;
    /*padding-left: 10px;*/
    border: 1px solid  #E9E9E9;
}
.productDrSpanModalTop table tbody tr td {
    padding-left: 5px;
    height: 30px;
    font-size: 13px;
    /*padding-left: 10px;*/
    border: 1px solid  #E9E9E9;
}
/*Middle:设置样品名称和清空按钮样式*/
.productDrSpanModalMiddle {
    width: 100%;
    padding-top: 5px;
    cursor: default;
    margin-bottom: 45px;

}
.productDrSpanModalMiddle div{
    float: left;
    padding-top: 10px;
    padding-bottom: 14px;
}
/*Bottom:设置检验人、审核人等*/
.productDrSpanModalBottom {
    /*position:absolute;*/
    /*bottom: 80px;*/
    height: 250px;
    width: 480px;
    cursor: default;
}

.productDrSpanModalBottom .productDrSpanModalBottomFirst {
    margin-top: 20px;
    /*padding-bottom: 55px;*/
    height: 80px;
    width: 100%;
    cursor: default;
    /*margin-bottom: 10px;*/
}
.productDrSpanModalBottom .productDrSpanModalBottomFirst table {
    float: left;
}

.productStateModal {
    overflow-y: auto;
    width: 100%;
    height: 100px;
}
.productDrSpanDivider {
    margin: 15px 0 !important;
    width: 520px !important;
    left: -20px;

    /*bottom: 20px;*/

}
.productPadding tr td {
    padding-top: 4px;
    padding-bottom: 4px;
}

/*设置表格样式*/
.productStateDefaultModal{
    /*border: 1px solid black;*/
    width: 480px;
    height: 200px;
    color: #999999;
    text-align: center;
    line-height: 150px;
}
.productPassModal {
    width: 100%;
    /*background: #4BD863;*/
    height: 200px;
}
.productPassModal .productPassExamineModal{
    overflow-y: auto;
    width: 100%;
    height: 100px;
}
.productPassModal .productPassExamineModal table{
    width: 100%;
}
.productPassModal .productOptionalModal {
    width: 100%;
    height: 50px;
    color: #999999;
    text-align: center;
    line-height: 60px;
}
/*
    录检中checkSpanModal
    Top:设置表格样式
    Middle:设置样品名称和清空按钮样式
    Bottom: 设置底部表格样式

 */
/*Top:设置表格样式*/
.productCheckModalTop {
    width: 100%;
    cursor: default;
}
.productCheckModalTop table{
    width:100%;
    border-collapse: collapse;
    border: 1px solid  #E9E9E9;
}
.productCheckModalTop table thead {
    color: white;
    background: #0079FE;
    border: 1px solid  #E9E9E9;
}
.productCheckModalTop table thead tr th{
    height: 30px;
    font-size: 13px;
    padding-left: 10px;
    border: 1px solid  #E9E9E9;
}
.productCheckModalTop table tbody tr td {
    height: 30px;
    font-size: 13px;
    padding-left: 10px;
    border: 1px solid  #E9E9E9;
}
/*Middle:设置样品名称和清空按钮样式*/
.productCheckModalMiddle {
    width: 100%;
    padding-top: 5px;
    cursor: default;
    margin-bottom: 50px;
}
.productCheckModalMiddle div{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.productCheckModalMiddle button {
    color: #999999 ;
    font-size: 14px ;
    font-weight: bolder ;
    font-family:'PingFangSC-Regular', 'PingFang SC' ;
    background-color: white;
    float:right;
    margin-top:5px;
}
/*Bottom: 设置底部表格样式*/
.productCheckModalBottom {
    padding-top: 50px;
    padding-bottom: 20px;
    /*height: 400px;*/
}
.productCheckModalBottom table {
    cursor: default;
}

.productOptional {
    display: flex;
    width: 95%;
}
.productNoneOptional {
    display: none;
}

.productOptionalPerson {
    flex-grow: 2;
    width:200px;
}

.productOptionalImag {
    flex-grow: 2;
    margin-top: -5px;
    border: 3px solid #F2F2F2;
    width: 120px;
    margin-right: -25px;
    /*left: 50px;*/
    /*right:500px !important;*/
}
.productOptionalImag span{
    display: block;
    text-align: center;
    height: 50px;
    border: 1px solid #F2F2F2;
    color: #999999;
    margin: 2px;
    font-size: 30px;
}
.productBorderNoPass {
    border-color: #FF3B30;
}
.productBorderNoPass span{
    border-color: #FF3B30;
    color: #FF3B30;
}
.productBorderCommon {
    border-color: #FE9400;
}
.productBorderCommon span{
    border-color: #FE9400;
    color: #FE9400;
}
.productBorderPass {
    border-color: #4BD863;
}
.productBorderPass span{
    border-color: #4BD863;
    color: #4BD863;
}




/*drspan表格*/
.productDrSpanTableModal {
    width: 481px;
    max-height: 180px;
    cursor: default ;
}

.productDrSpanTheadModal {
    display: flex;
    font-size: 16px;
    font-weight: 500;
}

.productDrSpanTheadModal div{
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    padding-left: 5px;
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.productDrSpanTheadModal div:first-child{
    width: 60px;
}
.productDrSpanTheadModal div:last-child{
    width: 120px;
    border-right: 1px solid #E9E9E9;
}

.productDrSpanTbodyModal {
    height: 160px;
    /*height: 200px;*/
    /*border: 1px solid green;*/
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}
.productDrSpanTbodyModal>div {
    font-size: 14px;
    display: flex;

}
.productDrSpanTbodyModal>div:last-child{
    border-bottom: 1px solid #E9E9E9;
}
.productDrSpanTbodyModal>div>div{
    width: 80px;
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.productDrSpanTbodyModal>div>div:first-child{
    width: 60px;
}
.productDrSpanTbodyModal>div>div:last-child {
    width: 120px;
    display: flex;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.productDrSpanTbodyModal>div>div:last-child div{
    width: 50%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*check表格*/
.productSpanTableModal {
    max-height: 330px;
    /*max-height: 250px;*/
    /*border: 1px solid red ;*/
}

.productSpanTheadModal {
    display: flex;
    /*text-align: center;*/
    line-height: 30px;
    font-size: 16px;
    border-collapse:collapse;
    font-weight: 500;
}

.productSpanTheadModal div{
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    width: 80px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.productSpanTheadModal div:first-child{
    width: 59px;
}
.productSpanTheadModal div:last-child{
    width: 120px;
    border-right: 1px solid #E9E9E9;
}

.productSpanTbodyModal {
    height: 300px;
    /*line-height: 30px;*/
    /*height: 200px;*/
    /*border: 1px solid green;*/
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    /*border-collapse:collapse;*/
    /*text-align: center;*/
    border-collapse:collapse;
}
.productSpanTbodyModal>div {
    font-size: 14px;
    display: flex;
    height: 30px;
    /*border-collapse:collapse;*/

}
.productSpanTbodyModal>div:last-child{
    border-bottom: 1px solid #E9E9E9;
}
.productSpanTbodyModal>div>div{
    width: 80px ;
    padding-left: 5px;
    /*text-align: left;*/
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    padding-top: 5px;
    padding-bottom: 5px;

}
.productSpanTbodyModal>div>div:first-child{
    width: 59px !important;
}
.productSpanTbodyModal>div>div:last-child {
    width: 120px;
    display: flex;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.productSpanTbodyModal>div>div:last-child div{
    width: 50%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.productTdInput {
    width: 80px !important;
}
.productTdInput input{
    border: none;
    height: 20px !important;
    width: 66px !important;
    /*padding-bottom: 1px;*/
}

.productPassValidPointer {
    background-color: #4BD863;
    cursor: pointer;
    /*width: 50%;*/
    /*height: 100%;*/
    height: 29px;
}
.productNoPassValidPointer {
    background-color: #FF3B30;
    cursor: pointer;
    /*width: 50%;*/
    /*height: 100%;*/
    height: 29px;
}
.productDefaultPointer {
    background-color: #999999;
    cursor: pointer;
    height: 29px;

}

.productPassValidDefault {
    background-color: #4BD863;
    cursor: default;
    /*width: 50%;*/
    /*height: 100%;*/
    height: 29px;
}
.productNoPassValidDefault {
    background-color: #FF3B30;
    cursor: default;
    /*width: 50%;*/
    /*height: 100%;*/
    height: 29px;
}
.productDefaultDefault {
    background-color: #999999;
    cursor: default;
    height: 29px;

}
.rateOptModal {
    display: flex;
    height: 100px;
    width: 260px;
    flex-direction:column
}
.rateOptSelect {
    width: 275px ;
    flex-grow:1;
}
.rateOptSelect div{
    width: 275px;
}
.rateOptDate {
    /*padding-top: 10px;*/
    width: 275px;
    flex-grow:1;
}
.rateOptDate span{
    width: 275px !important;
}

/*打印*/
.productInspection_print{
    font-family: 'Arial Normal', 'Arial';
    font-style: normal;
    color: #333333;
    line-height: normal;
    /*display: none;*/
}
.productInspection_print_big{
    font-size: 28px ;
    font-weight: 400;
}
.productInspection_print_small{
    font-size: 10px;
    /*font-weight: 400;*/
}
.printModal_scala{
    height: 500px;
}
.printModal_print{
    /*display: none;*/
    display: none;
}


@media print {
    body {
        color: #000;
        background: #fff;
    }
    nav, aside {
        display: none;
    }
    body, article {
        width: 30% !important;
        margin-left: 0;
        padding-left: 0;
    }
}