.blockquote{
    background: #f2f2f2;
    font-size: 15px;width:100%;
    height:60px;
    padding:15px;
}
.fl{
    float: left;
    padding: 10px;
}
.fr{
    float: right;
    padding: 10px 5px;
}
.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }

  .custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
  }

  .custom-filter-dropdown button {
    margin-right: 8px;
  }

  .highlight {
    color: #f50;
  }
  .clear{
    clear: both;
  }
  .iconHover{
    width : 35px;
    height :35px;
    cursor : pointer;
    margin-right : 10px;
    float : right;
  }
   div .iconHover:hover{
       background-color: #1890ff;
       color:#ffffff;
       font-weight: bolder;
  }
