.Editgrey {
    color: #CCCCCC;
    cursor: not-allowed;
}
.check-box{
    height: 203px;
    overflow-y:scroll;
}
.check-box::-webkit-scrollbar{
    display: none;
}

.rawSelectTop {
    width: 100%;
    display: flex;
}
.rawSelectTable {
    padding-top: 10px;
}