.stock-out {
    padding: 5px 15px;
}
.stock-out-flex {
    display: flex;
    justify-content: space-between;
}

.stock-out-table {
    margin-top: 20px;
}

.stock-out-application {
    display: flex;
    flex-direction: row-reverse;
}

.stock-out-icon {
    font-size: 20px;
    font-weight: 800;
    color: red;
}
