.positive-process-add-onLine{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
}
.positive-process-add-onLine-font{
    display: inline-block;
    margin-right: 20px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    text-align: right;
    padding: 10px;
    /* width: 100px; */
}
.positive-process-add-workShop{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 60vw;
    padding: 30px;
    margin:2% auto;
}
.positive-process-add-span{
    display:inline-block;
    width:100px;
    text-align:right
}
.positive-process-add-span1{
    display:inline-block;
    width:170px;
    text-align:right
}
.positive-process-add-crush-span{
    height: 35px;
    /* padding: 2px auto; */
    line-height: 35px;
    width: 150px;
    border: 1px solid #e4e4e4;
    display: inline-block;
    margin-right: 20px; 
    border-radius: 4px;
    text-align: center;
}