.process-parameters-auth {
    height: 500px;
    line-height: 500px;
    text-align: center;
    font-size: 20px;
}

.process-parameters {
    padding: 10px;
    height: 100%;
}

.process-parameters-date {
    width: 200px;
    height: 35px;
    margin-right: 10px;
}

.process-parameters-add-div {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.process-parameters-add-div-span {
    display: inline-block;
    width: 110px;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
}

.process-parameters-detail-top {
    display: flex;
    justify-content: space-between;
}

.process-parameters-detail-top div {
    width: 300px;
    text-align: left;
    margin: 10px;
}

.process-parameters-detail-bottom {
    height: 500px
}

.process-parameters-detail-bottom-process {
    border: 1px solid #e1e1e1;
    padding: 5px;
    height: 300px;
    margin: 5px;
}

.process-parameters-detail-bottom-process-div {
    margin: 5px;
}

.process-parameters-detail-p {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 20px;
}

.process-parameters-detail-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.process-parameters-detail-flex-part {
    display: flex;
    width: 1000px;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: row;
}

.process-params-table-part {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}

.process-params-table-part-td {
    padding: 8px 2px !important;
}

.process-params-table-part-symbol {
    display: inline-block;
    margin: 3px;
}

.process-params-detail-text {
    margin-top: 10px;
    border: 1px solid #e8e8e8;
    height: 50px;
    border-radius: 4px;
    padding: 10px;
}

.process-params-detail-table-overflow {
    height: 370px;
    overflow: auto;
}
.process-material-add-footer {
    display: flex;
    margin: 10px 0;
}
