.wi-inputIt{
    margin:0 8px 8px 0;
    display: inline-block;
    width:200px;
}
.wi-title{
    float:right;
}
.wi-putright{
    position: absolute;
    right: 18px;
}
.wi-table .ant-table-body  {
    width: 100% !important;
    margin: 0 !important;
}
/*.eA-right-bottom {*/
/*    display: flex;*/
/*}*/


