.LM-parent{
    flex-direction: row;
    max-height: 342px;
    overflow-y: auto;
    position: relative;
    top: -4px;
}
.LM-parent::-webkit-scrollbar{
    width: 1px;
    height: 0px;
}
.one{
    line-height: 36.8px;
    /* border-top: 1px solid #E4E4E4; */
    display: inline-block;
    width: 10%;
    text-align: left;
    text-overflow: ellipsis
}
.two{
    line-height: 36.8px;
    /* border-top: 1px solid #E4E4E4; */
    display: inline-block;
    width: 18%;
    text-align: left;
    text-overflow: ellipsis
}
.three{
    line-height: 36.8px;
    /* border-top: 1px solid #E4E4E4; */
    display: inline-block;
    width: 18%;
    text-align: left;
    text-overflow: ellipsis
}
.four{
    line-height: 36.8px;
    /* border-top: 1px solid #E4E4E4; */
    display: inline-block;
    width: 18%;
    text-align: left;
    text-overflow: ellipsis
}
.five{
    line-height: 36.8px;
    border-right: none;
    border-top: 1px solid #0079FE;
    border-left: 3px solid #0079FE;
    border-bottom: 2px solid #0079FE;
    display: inline-block;
    width: 18%;
    text-align: left;
    text-overflow: ellipsis
}
.six{
    line-height: 36.8px;
    border-top: 1px solid #0079FE;
    border-left: none;
    border-bottom: 2px solid #0079FE;
    border-right: 2px solid #0079FE;
    display: inline-block;
    width: 18%;
    text-align: left;
    text-overflow: ellipsis
}
.seven{
    line-height: 36.8px;
    border: 1px solid #0079FE;
    border-bottom: 2px solid #0079FE;
    border-right: none;
    border-left:  2px solid #0079FE;
    display: inline-block;
    width: 18%;
    text-align: left;
    text-overflow: ellipsis;
}
.eight{
    line-height: 36.8px;
    border: 1px solid #0079FE;
    border-bottom: 2px solid #0079FE;
    border-left: none;
    border-right: 2px solid #0079FE;
    display: inline-block;
    width: 18%;
    text-align: left;
    text-overflow: ellipsis;
}
.border-down {
    border-bottom: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    white-space:nowrap; 
    padding-left: 5px;
  }

.LM-tableHeadContainer {
  margin-top: 20px;
}
.LM-tableHead {
  display:inline-block;
  width:13%;
  text-align:left;
  padding-left: 5px;
  height: 38px;
  line-height: 38px;
  border-bottom: #e4e4e4 1px solid;
  border-top: #e4e4e4 1px solid;
  border-left: #e4e4e4 1px solid;
  box-sizing: border-box;
  text-overflow: ellipsis;
}
.LM-blueTableHead {
  background: #0079fe;
  position: relative;
  border: #0079fe 1px solid;
  color: #fff;
  overflow: visible;
  padding-bottom: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 18px;
  font-weight: bold;
  z-index: 999;
}
.LM-blueTableHead::before {
  content: "";
  display: block;
  width: calc(100% + 2px);
  height: 20px;
  position: absolute;
  top: -20px;
  left: -1px;
  background-color: #0079fe;
  border: #0079fe 1px solid;
}

.LM-blueTableHead:nth-child(5)::before {
  border-top-left-radius: 3px;
}

.LM-blueTableHead:nth-child(8)::before {
  border-top-right-radius: 3px;
}

.head-shadow{
    background: #0079FE;
}

.border-down.nowChange::after {
  content: "";
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background: #1890ff;
  opacity: 0.5;
  transition: 0.5s;
  z-index: 99999;
}
.border-down::after {
  content: "";
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background: #1890ff;
  opacity: 0.0;
  transition: 0.5s;
  z-index: 99999;
}