.fire-ins-data-acq div{
    margin-bottom: 10px;
}
.fireIns-add-check-group{
    height:250px;
    border:1px solid #E4E4E4;
    width:40%;
    border-radius: 4px;
    padding:10px;
    overflow-y: scroll;
}
.fireIns-add-check-group-span{
    display:inline-block;
    width:33.3%;
    box-sizing:border-box;
}
.fireIns-add-display{
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    width: 100%;
}
.fire-ins-data-acq1{
    margin-bottom: 10px;
}