.firstHead {
    /*text-align: center;*/
    list-style: none;
    padding: 5px 0 5px 0;
    /*font-weight: 600;*/
}
.secHead {
    list-style: none;
    padding: 0 0 30px 0;
}

.spanHead input{
    padding: 5px;
    margin-right: 40px;
    /*margin-left: 25px;*/
 }

.spanHead button {
    /*padding: 5px 0 5px 0;*/
    float: right;
    margin-right: 50px;

}
.padding tr td {
    padding-top: 4px;
    padding-bottom: 4px;
}
.interTopTable {
    width: 100%;
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    border-collapse: collapse;
    border: 1px solid  #E9E9E9;
    border-radius: 3px;
}
.interTopThead {
    color: white;
    background: #0079FE;
}
.interTopThead tr th {
    height: 30px;
    font-size: 13px;
    padding-left: 10px;
    border: 1px solid #E9E9E9;
}
.interTopTbody tr td {
    height: 30px;
    font-size: 13px;
    border: 1px solid #E9E9E9;
    padding-left: 10px;
}
