<?xml version="1.0" encoding="utf-8" ?>
<peizhixinxi>
  <httpSet>
    <serveraddress>119.39.4.6:18080</serveraddress>
    <sfyzaddress></sfyzaddress>
    <yplyaddress></yplyaddress>
    <gxaddress></gxaddress>
    <qydaddress></qydaddress>
    <sjwladdress></sjwladdress>
    <jyxmaddress></jyxmaddress>
    <sjaddress></sjaddress>
    <cxaddress></cxaddress>
    <cxmxaddress></cxmxaddress>
  </httpSet>
</peizhixinxi>