@font-face {
    src: url("./fontFamily/NotoSansHans-Bold.otf");
    font-weight: bold;
    font-family: NotoSansHans-Bold;
}

@font-face {
    src: url("./fontFamily/NotoSansHans-Regular.otf");
    font-family: NotoSansHans-Regular;
}

body {
    margin: 0;
    padding: 0;
    font-family: NotoSansHans-Regular, NotoSansHans-Bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-menu-inline .ant-menu-submenu-title {
    margin: 0 !important;
}

.ant-menu-item {
    padding-left: 30px !important;
}

#defaultCanvas0 {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    /* height: 92% !important;
    width: 45% !important; */
    visibility: visible;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.show {
    visibility: visible;
}
.ant-tabs-nav-wrap {
    padding-left: 1.3% !important;
}

.submit .ant-switch-checked {
    background-color: red !important;
}

table .blue {
    cursor: pointer;
}

i {
    font-weight: bolder;
}
.ant-pagination.ant-table-pagination.mini {
    text-align: right !important;
}

.ant-pagination-options-size-changer.ant-select {
    margin-right: 0 !important;
}
.ant-tabs-bar {
    margin: 0 0 10px 0 !important;
}

/* 全局按钮样式 */
.ant-btn-primary {
  text-shadow: none !important;
  box-shadow: none !important;
      font-weight: bolder !important;
}
.ant-btn-primary:nth-last-child(1){
  margin-right: 0 !important;
}

.button {
    /* color: #ffffff !important; */
    font-size: 14px !important;
    font-weight: bolder !important;
    font-family: 'PingFangSC-Regular', 'PingFang SC' !important;
    /* background-color: #0079fe !important; */
    margin-right: 10px !important;
    box-sizing: border-box !important;
}
button span {
    font-size: 14px !important;
    font-family: 'PingFangSC-Regular', 'PingFang SC' !important;
}
.grey-button {
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: bolder !important;
    font-family: 'PingFangSC-Regular', 'PingFang SC' !important;
    background-color: grey !important;
    margin-right: 10px !important;
    font-weight: bolder !important;
}

.white-button {
    color: grey !important;
    font-size: 14px !important;
    font-weight: bolder !important;
    font-family: 'PingFangSC-Regular', 'PingFang SC' !important;
    background-color: white !important;
    margin-right: 10px !important;
    font-weight: bolder !important;
}

.green-button {
    color: #ffffff !important;
    background-color: #4BD863 !important;
    margin-right: 10px !important;
    border: none !important;
    font-weight: bolder !important;
}
.ant-btn:not(.ant-btn-sm) {
    height: 35px !important;
}
.ant-btn.ant-btn-sm {
    border: none !important;
}
.blue {
    color: #1890ff;
    cursor: pointer;
}

.grey {
    color: grey;
    background-color: #ffffff !important;
}

/**用来调整table的最大高度，使切换一页展示多行时，table无明显变化*/

/* .ant-table-body {
    max-height: 380px !important;
} */

.ant-table-content {
    max-height: 417px !important;
    overflow: hidden !important;
}
/**控制一个元素显示或隐藏*/

.hide {
    display: none;
}

/**修改弹出框样式*/
.ant-modal.modal-sm {
    width: 360px !important;
}
.ant-modal.modal-md {
    width: 520px !important;
}
.ant-modal.modal-lg {
    width: 800px !important;
}
.ant-modal.modal-xlg {
    width: 1080px !important;
}
.ant-modal.modal-xxlg {
    width: 1300px !important;
}
.ant-modal-header {
    padding: 8px 20px !important;
}
.ant-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    margin: 0px !important;
    padding: 6px 0px 6px 0px !important;
}
.clear{
    clear: both;
}
.ant-modal-body {
    padding: 20px !important;
}
.ant-modal-footer {
    padding: 8px 10px !important;
}
.ant-modal-footer span::after{
  content: "";
  clear: both;
}
.ant-modal-footer {
  overflow: auto;
}
.ant-modal-body > .ant-row .ant-form-item {
    text-align: center !important;
    margin-left: 80px !important;
}
/**屏幕缩小 表格不会变形 td换行*/
.ant-table td{
    white-space: normal !important;
}
/* 输入框样式 */
.ant-input {
    height: 35px !important;

}
.ant-input-lg {
  font-size: inherit !important;
}
.ant-input-number {
  height: 35px!important;
  line-height: 35px!important;
}
/* 下拉选择器样式 */
.ant-select-lg .ant-select-selection--single, .ant-select-selection--single{
    height: 35px !important;
}
.ant-select-sm .ant-select-selection--single{
   height: 24px !important;
}

.ant-select-lg .ant-select-selection__rendered, .ant-select-selection__rendered{
  height: 33px !important;
  line-height: 33px !important;
}
.ant-select-sm .ant-select-selection__rendered {
  height: 22px !important;
  line-height: 22px !important;
}
.particles-js-canvas-el {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}
/* 设置表格中的输入框和下拉选择器不要出现圆角 */
table .ant-select-selection,table .ant-input{
  border-radius: 0;
}
.ant-popover-inner {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35) !important;
}
.time-search{
    height:35px;
    width:48px;
}
.time-search .ant-btn{
    border-radius: 0 4px 4px 0 !important;
}
.ant-table-tbody .ant-table-row td{
    text-align: left !important;
}
.ant-table-align-center,.ant-table-selection-column{
    text-align: left !important;
}