.addModal_scala{
    height: 550px;
}
/* ----Top-----*/
.addModalTop_scala{
    width: 100%;
    height: 20%;
}
/*.addModalTop_batchNumber {*/
    /*height: 70px;*/
    /*margin: 10px 0;*/
/*}*/

.addModalTop_batchNumber_div {
    margin-bottom: 8px;
}


.addModalTop_batchNumber_select {
    width: 7%;
}
.addModalTop_batchNumber_input {
    width: 13% !important;
}
.addModalTop_batchNumber_water_input {
    width: 7% !important;
}
.addModalTop_batchNumber_add {
    width: 3% !important;
}
/*.addModalTop_batchNumber_select_max {*/
    /*width: 9%;*/
/*}*/

.addModalTop_batchNumber_span {
    display: inline-block;
    width: 7%;
    margin-right: 10px;
}
.addModalTop_batchNumber_span_max{
    display: inline-block;
    width: 9%;
    margin-right: -18px;
}

/* ----down-----*/
.addModalDown_scala{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
}
.addModalDown_divider {
    height: 100% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.addModalLeft_scala {
    width: 48%;
    height: 100%;

}
.addModalRight_scala {
    width: 48%;
    height: 100%;

}
.addMondalRight_top_bottom{
    display: flex;
    width: 100%;
}

.addModalRight_top {
    padding-top: 8px ;
    display: flex;
    height: 8%;
    width: 100%;
}
.addModalRight_top_flag {
    padding-top: 8px ;
    height: 8%;
    width: 100%;
}
.addModalRight_top_span{
    width: 20%;
}
.addModalRight_top_divider {
    margin-top: 0 !important;
}
.addModalRight_middle{
    height: 65%;
    width: 100%;
    overflow: auto;
}
.addModalRight_middle_checkbox {
    width: 100%;
    margin-left: 10px !important;
}
.addModalRight_down {
    display: flex;
    width: 100%;
    height: 25%;
    padding-top: 10px;
}
.addModalRight_down_span {
    padding-left: 10px;
    padding-top: 5px;
    width: 15%;
    height: 30%;
}
.addModalRight_down_span_demo{
    padding-left: 40px;
    padding-top: 5px;
    width: 15%;
    height: 30%;
}
.addModalRight_down_select {
    width: 35% !important;
    height: 30%;
}
.addModalRight_down_input{
    width: 35% !important;
    height: 80% !important;
}


.detailModal_scala{
    height: 400px;
}
.detailModal_top {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.detailModal_middle{
    width: 100%;
    height: 8%;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
}
.detailModal_middle span{
    padding-top: 10px !important;
    padding-left: 88px;
    width: 100%;
    height: 100%;
}
.detailModal_middle_series {
    padding-bottom: 5px !important;
}
.detailModal_top_maxSpan {
    width: 54% !important;
}
.detailModal_top_minSpan{
    width: 23%;
}
.detailModal_down {
    width: 100%;
    height: 60%;
    padding-top: 10px;
    overflow: auto;

}