.repoQueryOutDaily_search_select{
    width: 150px;
    margin-right: 20px !important;
}

.repoQueryOutDaily_search {
    float: right;
}
.repoQueryInDaily_search_date {
    width: 240px;
    margin-right: 10px;
}