.productLine {
    display: block;
    margin-top:10px;
    width:100%;
    overflow-x: hidden;
    white-space: nowrap;
    border-collapse: collapse;
    max-height: 450px;
}

.productLine .thead{
    color: white;
    text-align: left;
}


.productLine .productHead tr th{
    background: #1890ff !important;
    height: 35px;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    width:250px;
    max-width: 250px;
    min-width: 250px;
    /* width: 10%; */
    border: 1px #e4e4e4 solid;
    border-top: none !important;
    border-bottom: none !important;
    box-sizing: border-box !important;
}

.productLine tbody td{
    height: 35px;
    width:250px;
    font-size: 14px;
    text-align: left;
    border: 1px #e4e4e4 solid;
    box-sizing: border-box !important;
    max-width: 250px;
    min-width: 250px;
}