.repoQueryInventoryDaily_search_select{
    width: 150px;
    margin-right: 20px !important;
}

.repoQueryInventoryDaily_search {
    float: right;
}

.repoQueryInventoryDaily_edit{
    height: 200px;
}
