.productStandard{
    width:97%;
    height:540px;
    /* border:1px solid #cccccc; */
    border-top: none;
}
/* .productStandard .img{
    display: flex;
    height:40px;
    position: relative;
}
.productStandard img{
    height:40px;
    width: 105%;
}
.img1{
    flex-grow: 1;
    z-index: 10;
    height:40px;
    border-width: none;
}
.img2{
    z-index: 5;
    flex-grow: 1;
    min-height:40px;
    left:-10px;
    position: relative;
    border-width: none;
}
.img3{
    z-index: 1;
    left:-25px;
    flex-grow: 1;
    min-height:40px;
    border-width: none;
    position: relative;
} */
.product-standrad-top{
    width:100%;
    display: flex;
    min-height:35px;
    max-height:35px;
    margin:20px;
}
.product-standrad-top-click {
    /* background-image: url('./head.svg');
    background-size:100% 40px;
    background-repeat:no-repeat;
    border-width: none; */
    background-color: #0086ff;
}
.product-standrad-top-notclick {
    background-color: #f2f2f2; 
    /* background-image: url('./head-white.svg');
    background-size:100% 40px; */
}
.product-standrad-top-click i,.product-standrad-top-click span{
    color: white;
    font-weight: bold;
}
.product-standrad-top div{
    flex-grow: 1;
    line-height: 40px;
    text-align: center;
    border-radius: 0 6px 6px 0;
    border-right:1px solid #f2f2f2;
}
.product-standrad-top-span{
    min-width: 56px;
    display: inline-block;
}
.product-standrad-middle{
    /* padding:15px 0; */
    min-width: 715px;
    width: 103.2%;
}
.product-standrad-middle-top{
    margin:20px;
}
.product-standrad-middle-text{
    font-size: 18px;
    color: black;
}
.product-standrad-bottom{
    /* display: inline-block; */
    min-width: 600px;
    /* height:359px; */
    overflow-y: auto;
}
.modal-standrad-bottom{
    /* display: inline-block; */
    min-width: 600px;
    height:359px;
    overflow-y: hidden;
}
.block-add{
    height: 50px;
    color:#0086ff;
    cursor: pointer;
    line-height: 50px;
    text-align:center;
    margin:20px;
    display: inline-block;
    border:1px solid #0086ff;
    border-radius:3px ;/*设置4个圆角，且为5像素*/
}
.block{
    height: 50px;
    color:black;
    cursor: pointer;
    line-height: 50px;
    text-align:center;
    margin:20px;
    display: inline-block;
    border:1px solid #e4e4e4;
    border-radius:3px ;/*设置4个圆角，且为5像素*/
}
.block-overlap{
    height: 50px;
    display: inline-block;
    margin:20px;
    border:1px solid #e4e4e4;
    border-radius:3px ;/*设置4个圆角，且为5像素*/
}
.block-div{
    position: relative;
    left:3px;
    top:3px;
    z-index:11;
    width:100%;
    background-color:#ffffff;
    color:black;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-align:center;
    border:1px solid #e4e4e4;
    border-radius:3px ;/*设置4个圆角，且为5像素*/
}
.block:hover,.block-div:hover{
    background-color: #0086ff;
    color:white;
    font-weight: bold;
}
@media screen and (min-width: 1420px){
    .block-width{
        width:13.57%;
    }
}
@media screen and (max-width: 1420px){
    .block-width{
        width:16.6%;
    }
}
 @media screen and (max-width: 1343px){
    .block-width{
        width:16.55%;
    }
}
@media screen and (max-width: 1290px){
    .block-width{
        width:16.4%;
    }
}
@media screen and (max-width: 1240px){
    .block-width{
        width:16.3%;
    }
} 
@media screen and (max-width: 1210px){
    .block-width{
        width:16%;
    }
}
@media screen and (max-width: 1166px){
    .block-width{
        width:21%;
    }
}
 @media screen and (max-width: 1128px){
    .block-width{
        width:20.9%;
    }
}
@media screen and (max-width: 1104px){
    .block-width{
        width:20.75%;
    }
}
@media screen and (max-width: 1070px){
    .block-width{
        width:20.5%;
    }
}
@media screen and (max-width: 1015px){
    .block-width{
        width:20%;
    }
}
@media screen and (max-width: 930px){
    .block-width{
        width:19.3%;
    }
}
.block-input{
    height: 48px !important;/**important的优先级最高*/
    width: 100% !important;
    border:none !important;
}
/* .block-input .ant-select-selection .ant-select-selection--single{
    line-height:48px !important;
} */
/* .ant-select-lg .ant-select-selection--single {
    height: 45px !important;
    border:none;
}
.ant-select-lg .ant-select-selection__rendered {
    position: relative;
    top: 2px;
}
.ant-select-lg {
    font-size: 15px !important;
} */
.block-button{
    height: 50px;
    width:20%;
}
.block1 .ant-btn-lg{
    height:48px !important;
}
.block-button i{
    color:#0086ff;
    font-weight: bolder;
}
/**选择型号*/
.product-modal{
    width: 100%;
    height:60px;
    display: flex;
    min-width:715px;
}
.product-modal-1{
    flex:1;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}
.product-modal-1 i:hover{
    color:#0086ff;
}
.product-modal-2{
    flex:10;
    overflow: hidden;
    /* border:1px solid #cccccc; */
}
.product-modal-2-div{
    text-align: center;
    display: flex;
}
.product-modal-2-circle{
    width:30px;
    height:30px;
    margin:0 auto;
    /* color:#999999; */
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color:white;
    font-weight: 600;
    background-color: #0086ff;
    /* border:2px solid #CCCCCC; */
}
.product-modal-2-text{
    line-height: 60px;
    text-align: center;
}
.product-modal-2-scroll{
    /* width:120%; */
    display: flex;
    height:100%;
    line-height: 100%;
}
.product-modal-2-div-part{
    display: flex;
}
.product-modal-2-div-part1-circle{
    /* flex-grow: 1; */
    height:60px;
    width:45px;
    padding:15px 9px 15px 11px;
    line-height: 60px;
    text-align: center;
}
.product-modal-2-div-part1{
    /* flex-grow: 2; */
    height:60px;
    width:100px;
    line-height: 60px;
    text-align: left;
}
.product-modal-2-div-part11{
    /* flex-grow: 2; */
    height:2px;
    width:80px;
    text-align: center;
    margin-top:30px;
    border-top:1px solid #cccccc;
}
.product-modal-2-div-line{
    border-top:1px solid #cccccc;
}
.product-modal-middle{
    min-width: 715px;
    /* height:300px; */
    overflow: auto;
}
/**新增型号弹出气泡*/
.modal-popover{
    height:80px;
    width:200px;
}
.modal-popover span{
    padding-right:8px;
}
.modal-popover button{
    margin:7px 5px ;
}
/**设置标准*/
.product-standrad-img{
    margin:0 auto;
    text-align: center;
    padding-top:4%;
}
.product-standrad-img-p{
    font-weight: 650;
    font-style: normal;
    font-size: 18px;
    color: #666666;
    text-align: center;
    line-height: 24px;
    margin:20px;
}
.product-standrad-img-p1{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 22px;
    margin:20px;
}
/**型号新增*/
.modal-add-table{
    max-height:430px;
    margin:20px 0 0 0;
}
/*.modal-add-table .ant-table{*/
    /*max-height: 200px !important;*/
/*}*/
.modal-add-date{
    width:320px !important;
}
/**型号编辑和详情*/
.modal-detail-p{
    padding-top:15px;
}
.modal-detail-p p{
    font-weight: 400;
}
.standard-table{
    padding:20px;
}
/*.standard-table .ant-table{*/
    /*max-height: 200px !important;*/
/*}*/
.table-implemention{
    border:2px solid #0086ff;
}
.product-table-span{
    position: relative;
    left:20px;
}
.product-table-span-on{
    background-color: #0086ff;
    color: white;
    font-weight: 800;
    position: relative;
    left:15px;
}
/**固定在footer的重新选择样式*/
.product-footer{
    color:#0086ff;
    /* float: right; */
    position: absolute;
    bottom:40px;
    right:25px;
    /* bottom: 40px; */
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    z-index:111;
}

