
.process-add-head-date{
    width: 220px;
    margin-right:15px
}
.process-add-head-select{
    width: 130px;
    margin-right:15px
}
.statis-processCompare-search{
   text-align: center
}

.process-statisDone-detail span{
    margin-right: 88px
}
.process-statisDone-detail1 span{
    margin-right: 20px
}
.process-add-process span{
    margin-right: 10px
}


