.MRparent{
    /* line-height: 50px; */
    flex-direction: row;
    max-height: 396px;
    overflow-y: scroll;
}
.MRone{
    line-height: 36.8px;
    /* border-top: 1px solid #E4E4E4; */
    display: inline-block;
    width: 9%;
    text-align: left;
    text-overflow: ellipsis
}
.MRtwo{
    line-height: 36.8px;
    /* border-top: 1px solid #E4E4E4; */
    display: inline-block;
    width: 10%;
    text-align: left;
    text-overflow: ellipsis
}
.MRthree{
    line-height: 36.8px;
    /* border-top: 1px solid #E4E4E4; */
    display: inline-block;
    width: 10%;
    text-align: left;
    text-overflow: ellipsis
}
.MRfour{
    line-height: 36.8px;
    /* border-top: 1px solid #E4E4E4; */
    display: inline-block;
    width: 10%;
    text-align: left;
    text-overflow: ellipsis
}
.MRfive{
    line-height: 36.8px;
    border-right: none;
    border-top: 1px solid #0079FE;
    border-left: 3px solid #0079FE;
    border-bottom: 2px solid #0079FE;
    display: inline-block;
    width: 10%;
    text-align: left;
    text-overflow: ellipsis
}
.MRsix{
    line-height: 36.8px;
    border-top: 1px solid #0079FE;
    border-left: none;
    border-bottom: 2px solid #0079FE;
    border-right: 2px solid #0079FE;
    display: inline-block;
    width: 10%;
    text-align: left;
    text-overflow: ellipsis
}
.MRseven{
    line-height: 36.8px;
    border: 1px solid #0079FE;
    border-bottom: 2px solid #0079FE;
    border-right: none;
    border-left: none;
    display: inline-block;
    width: 10%;
    text-align: left;
    text-overflow: ellipsis
}
.MReight{
    line-height: 36.8px;
    border: 1px solid #0079FE;
    border-bottom: 2px solid #0079FE;
    border-left: none;
    border-right: 2px solid #0079FE;
    display: inline-block;
    width: 10%;
    text-align: left;
    text-overflow: ellipsis
}
.MRborder-down {
    border-bottom: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
    text-overflow: ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
    padding-left: 5px;
  }
.MRborder-down1 {
    /* border-bottom: 1px solid #E4E4E4; */
    border-left: 2px solid #0079FE;
    border-right: 2px solid #0079FE;
    border-top: 12px solid #0079FE;
    border-bottom: 6px solid #0079FE;
    text-align: center;
    background: #0079FE;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
}
.MRborder-down2 {
    /* border-bottom: 1px solid #E4E4E4; */
    border-left: 2px solid #0079FE;
    border-right: 2px solid #0079FE;
    border-top: 12px solid #0079FE;
    border-bottom: 6px solid #0079FE;
    background: #0079FE;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
}
.MRborder-down3 {
    /* border-bottom: 1px solid #E4E4E4; */
    border-left: 2px solid #0079FE;
    border-right: none;
    border-top: 12px solid #0079FE;
    border-bottom: 6px solid #0079FE;
    background: #0079FE;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
}
.MRborder-down4 {
    /* border-bottom: 1px solid #E4E4E4; */
    border-left: 2px solid #0079FE;
    border-right: 2px solid #0079FE;
    border-top: 12px solid #0079FE;
    border-bottom: 6px solid #0079FE;
    background: #0079FE;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
}
.MRhead-shadow{
    background: #0079FE;
}